html {
  //height: 100%;
}

body {
  @include media-breakpoint-up(sm) {
    margin: 0 25px 25px 25px;
  }
}

body.home {
  margin: 0;

  header.banner {
    display: none;
  }

  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
}

body.template-inicio {
  @include media-breakpoint-up (sm) {
    #menu-item-52,
    #menu-item-53 {
      visibility: hidden;
    }
  }
}

body.category-2 {
  @include media-breakpoint-up (sm) {
    margin-bottom: 0;
  }
}

body.category-3 div.wrap {
  @include media-breakpoint-up (sm) {
    padding-left: ($gutter*5);
    padding-right: ($gutter*5);
  }
}

body.category-2.fadeinright {
  //animation-name: fadeInRight;
}

.wrap {
  //margin-top: $gutter;
  // animation-duration: 0.25s;
  // transition-timing-function: ease-in;
  // animation-fill-mode: both;
  // animation-name: fadeInRight;
  //animation-name: fadeIn;

  /** Reverse "exit" animations */
  // &.is-exiting {
  //   .scene_element {
  //     animation-direction: alternate-reverse;
  //   }
  // }

  @include media-breakpoint-up (sm) {
    margin-left: -15px;
    margin-right: -15px;
  }
}

h3 {
  font-weight: 400;
}

a {
  &:hover {
    text-decoration: none;
  }
}

.no-padd {
  padding-right: 0;
  padding-left: 0;
}

/*
 * Keyframes
 */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}
