/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #000
);
//bg-color;
$bg: #f0f0f0;
//para calcular la altura
$altura: 100vh;
$header: 163px; //altura del header + footer outbox
$foto: 100px; //altura de header + footer en la cat de fotografia
$post: 134px; //altura del header para la vista indivudual en postproduccion
$post-mobil: 63px; //altura del menu
$modal-body: 120px; //altura para el modal en el telefono
$incio-mobil: 123px; //pagina incio header + footer
$menu-mob: 38px; //altura del menu - el padding del body

//gutter general
$gutter: 35px;

@mixin grayscale_element($value) {
  -webkit-filter: #{"grayscale(#{$value})"};
  -moz-filter: #{"grayscale(#{$value})"};
  filter: #{"grayscale(#{$value})"};
}

//tipogragía

$tipo-header: 1.5rem;
$tipo-foto-grande: 1.375em;

$tipo-foto-mobil: 0.875em;
$tipo-titular-mobil: 1.125em;
