footer.content-info {
  padding-top: $gutter;
  font-size: 1.5em;
  line-height: 24px;
}

body.category-2 {
  footer.content-info {
    padding-top: ($gutter*2);
  }
}

body.category-3 {
  footer.content-info {
    @include media-breakpoint-up (sm) {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      padding-right: $gutter;
      padding-left: $gutter;
      padding-bottom: $gutter;
    }
  }
}

.idiomas,
.btn-cont {
  @include make-col(6);
}

.btn-cont {
  @include media-breakpoint-up (sm) {
    text-align: right;
  }
}
///seccion que se muestra con el click desde abajo
.box-footer {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: ($gutter*2) $gutter $gutter;
  z-index: 10;
  background-color: $white;
  border-top: 2px solid;
  line-height: 36px;
}

#btn-contacto {
  cursor: pointer;
  margin-bottom: 0;
}

#btn-cerrar {
  cursor: pointer;
  z-index: 20;
  right: 15px;
}

.bio {
  padding-bottom: ($gutter*3);
}

.enlaces {
  @include make-row;

  .box {
    @include make-col-ready;

    @include media-breakpoint-up (sm) {
      @include make-col(4);

      p {
        position: absolute;
        bottom: 0;
        margin-bottom: 0;
      }
    }
  }
}
