.swiper-slide,
.swiper-container,
.swiper-wrapper {
  height: 100%;
}

///////CATEGORIA FOTOGRAFIA//////////
section.cat-foto {
  height: calc(#{$altura} - #{$incio-mobil});

  @include media-breakpoint-up (md) {
    margin-right: -55px;
    height: calc(#{$altura} - #{$foto});
  }
}

.swiper-container-h .swiper-wrapper {
  align-items: center;
}

.section-block {
  display: inline-block;
  max-height: 100%;
  height: 90%;

  @include media-breakpoint-up (lg) {
    height: 100%;
  }

  img {
    //max-height: 100%;
    padding-bottom: $gutter;
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: block;

    @include media-breakpoint-up (lg) {
      padding-bottom: 0;
      max-width: 100%;
    }
  }

  &:nth-last-of-type(2) {
    img {
      //padding-right: 40%;
    }
  }

  @include media-breakpoint-up (sm) {
    height: auto;//90% !important;
  }
}

.swiper-slide.grande {
  //width: 55%; lo que tenia
  //width: 42% !important; //lo de tiago
  //margin-right: 150px;

  &:last-of-type {
    //padding-right: 15%;
  }

  @include media-breakpoint-up (lg) {
    padding-right: 42%;

    img {
      padding-bottom: $gutter;
      max-width: 500px;
    }
  }
}

.swiper-slide.mediana {
  //width: 35%; lo que tenía
  //width: 28% !important; //tiago
  //margin-right: 200px;

  &:nth-last-of-type(1) {
    background-color: aqua;
  }

  @include media-breakpoint-up (lg) {
    padding-right: 42%;

    img {
      max-width: 400px;
    }
  }
}

.swiper-slide.pequeña {
  //width: 25%; lo que tenia
  //width: 22% !important; //tiago
  //margin-right: 250px;

  // &:last-of-type {
  //   padding-left: 0;
  //   margin-right: 15%;
  // }
  @include media-breakpoint-up (lg) {
    padding-right: 12%;

    img {
      max-width: 300px;
    }
  }
}

.title-work-foto {
  position: absolute;
  bottom: 0;
  display: inline-flex;
  width: 100%;
  justify-content: center;

  @include media-breakpoint-up (lg) {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-flex;
    justify-content: start;
  }

  span {
    font-style: italic;
    font-size: $tipo-foto-mobil;
    line-height: 16.8px;

    @include media-breakpoint-up (md) {
      font-size: $tipo-foto-grande;
      line-height: 1;
    }
  }

  h1 {
    font-weight: 400;
    font-size: $tipo-foto-mobil;

    &::after {
      content: "\2022";
      padding-left: 5px;
      padding-right: 5px;
      font-style: normal;
    }

    @include media-breakpoint-up (md) {
      font-size: $tipo-foto-grande;
      font-style: italic;
      display: inline;
      line-height: 1;
      margin-bottom: 0;
    }
  }
}

////////category postproduccion///////////

//para el Masonry
.grid {
  article,
  .grid-sizer {
    @include make-col-ready();

    @include media-breakpoint-up(md) {
      @include make-col(6);
    }
  }

  .grid-item {
    margin-top: ($gutter*2);

    @include media-breakpoint-up(md) {
      @include make-col(6);

      margin-bottom: ($gutter*2);
      margin-top: 0;
    }

    @include media-breakpoint-up (lg) {
      margin-bottom: ($gutter*4);
    }

    .box-postproducion {
      @extend .text-center ;
      @extend .text-md-left ;

      h1 {
        font-size: $tipo-titular-mobil;
        margin-top: $gutter;

        @include media-breakpoint-up (md) {
          font-size: $tipo-header;
        }
      }
    }

    @include media-breakpoint-up (md) {
      .box-postproducion.izq {
        float: left;
      }

      .box-postproducion.der {
        float: right;
      }

      .box-postproducion.centro {
        margin-left: auto !important;
        margin-right: auto !important;
      }

      .box-postproducion.big {
        width: 80%;
      }

      .box-postproducion.medium {
        width: 65%;
      }

      .box-postproducion.small {
        width: 55%;
      }
    }

    img {
      @include grayscale_element(100%);

      transition: all 0.2s ease-in-out 0.2s;
      display: block;

      @extend .mx-auto ;

      &:hover,
      &:focus {
        @include grayscale_element(0);
      }
    }
  }
}

//VISTA INDIVIDUAL///
.single-post-produccion {
  height: calc(#{$altura} - #{$modal-body});

  @include media-breakpoint-up (md) {
    height: calc(#{$altura} - #{$post});
  }
/* stylelint-disable */
  .swiper-slide {
    height: calc(#{$altura} - #{$post-mobil});

    @include media-breakpoint-up (md) {
      height: 100%;
      display: flex;
      align-items: center;
    }
  }
/* stylelint-enable */
  .swiper-container,
  .swiper-wrapper {
    height: 100%;
  }

  .swiper-wrapper {
    align-items: center;
  }
}

.fx {
  display: none;
}

.inner {
  @extend .mx-lg-auto ;
  @extend .d-flex ;
  @extend .d-lg-block ;
  @extend .align-items-center ;

  //height: calc(#{$altura} - #{$post-mobil});
  height: 85%;
  padding: 0 $gutter;

  @include media-breakpoint-up (lg) {
    width: 55%;
    display: block;
    height: auto;
    padding: 0;
  }
}

.swiper-button-next-custom {
  @extend .d-none ;
  @extend .d-lg-block ;

  position: absolute;
  top: 50%;
  right: 80px;
  left: auto;
  width: 27px;
  height: 44px;
  margin-top: -64px;
  z-index: 10;
  cursor: pointer;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;

  &::before {
    content: '+';
    font-size: 64px;
    font-weight: lighter;
    margin-top: -22px;
  }
}

.swiper-button-prev-custom {
  @extend .d-none ;
  @extend .d-lg-block ;

  position: absolute;
  top: 50%;
  right: auto;
  left: 80px;
  width: 27px;
  height: 44px;
  margin-top: -64px;
  z-index: 10;
  cursor: pointer;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;

  &::before {
    content: '-';
    font-size: 64px;
    font-weight: lighter;
    margin-top: -22px;
  }
}

.swiper-pagination-custom {
  width: 50%;
  text-align: left;
  bottom: 15px;

  @include media-breakpoint-up (md) {
    bottom: 0;
    text-align: left;
    width: 100%;
    font-size: $tipo-header;
  }
}

.caption-single {
  @include media-breakpoint-up (lg) {
    position: absolute;
    right: 40%;
    bottom: 0;
    font-size: $tipo-header;
  }
}

.modal-dialog {
  max-width: 100%;
  height: 90vh;
  margin-top: 63px; //altura del menu

  @include media-breakpoint-up (md) {
    height: $altura;
    margin: 0;
  }
}

.modal-open .modal {
  font-size: $tipo-titular-mobil;

  @include media-breakpoint-up (lg) {
    overflow-y: hidden;
    font-size: $tipo-header;
  }
}

.modal-header {
  font-size: $tipo-header;
  border-bottom: none;
  display: none;

  @include media-breakpoint-up (md) {
    padding: $gutter $gutter 0;
    display: flex;
  }
}

.modal-body,
.modal-footer {
  @include media-breakpoint-up (md) {
    padding: 0 $gutter;
    border-top: none;
  }
}

.modal-body {
  height: auto;
  padding-bottom: 0;

  @include media-breakpoint-up (md) {
    height: calc(#{$altura} - #{$foto});
  }
}

.modal-content {
  border: none;
  height: 90%;

  @include media-breakpoint-up (md) {
    height: 100%;
  }
}

.modal-footer {
  border-top: none;

  @include media-breakpoint-up (md) {
    padding-bottom: $gutter;
    font-size: $tipo-header;
  }
}
